<input type="text" id="title" class="title_form">
<textarea id="message" class="message_form"></textarea>
<div class="button_area">
	<button id="sendMemo" class="icon send_memo">&#9998;</button>
	<button id="cancel" class="icon cancecl_btn">&#10060;</button>
</div>