<input type="text" id="title" class="title_form" value="<%= title %>">
<textarea id="messageEdit" class="message_form"><%= message %></textarea>
<div class="button_area">
	<button id="editDone" class="icon edit_done">&#9998;</button>
	<button id="delete" class="icon delete">&#59177;</button>
</div>